<div class="container">
	<h1> <%= user.username %></h1>
	<h3> contact: <%= user.email %> </h3>

	<a class="button" href="/user/edit/<%= user.id %>">Edit </a>
	<a class="waves-effect waves-light btn-large">Edit</a>
</div>
	<hr>
<div class="container">
	<% for (i=0; i < stories.length; i++) {%>
		<% if(i=== 0 || i%2 === 0){ %>
			<div class="row">
		<% } %>
		<div class="col s6">
			<div class="card small">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="/images/freaksandgeeks.png">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4"><%= stories[i].title %><i class="material-icons right">...</i></span>
			      <p><a href="#"><%= stories[i].title %></a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4"><%= stories[i].title %><i class="material-icons right">close</i></span>
			      <p><%= stories[i].description %></p>
			    </div>
			</div>
		</div>
		<% if(i != 0 && i%2 === 1){ %>
			</div>
		<% } %> 
	<% } %>
</div>